.outdoor {
    position: absolute;
    top: 0;
    right: 20px;
    width: 70px;
    height: 70px;
}

.develop {
    background-color: #2d3844;
    border-radius: 60px;

    & .container h2 {
        max-width: 900px;
        margin: 0 auto 50px;
        text-align: center;
        color: #fff;
    }

    &-icon {
        background-color: white;
        padding: 10px;
        display: inline-flex;
        border-radius: 40px;
    }

    &-blocks {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        padding: 0 80px;
    }

    &-block {
        background-color: #fff;
        padding: 30px;
        border-radius: 60px;
    }

    &-block:hover {
        background: var(--color-gradient-main);
        color: #fff;
    }

    &-block img {
        width: 40px;
        height: 40px;
    }

    .list {
        padding-left: 20px;
    }
}