.header {
    border-radius: 0 0 60px 60px;
    box-shadow: 0px -2px 40px rgba(0, 0, 0, 0.07);
}

.header .container {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav ul {
    display: flex;
    gap: 25px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-nav a {
    text-decoration: none;
}

.submenu {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.header-phone {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.2;
}

.header-phone:hover {
    text-decoration: underline;
}

.header-buttons {
    display: flex;
    gap: 15px;
}